services:
  - type: web
    name: website
    runtime: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    plan: free
    envVars:
      - key: PORT
        value: 3000
    healthCheckPath: /

